<robot name="forklift">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <static>true</static>

<link name="forklift_base">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://myrobot/models/meshes/bases/fork_monke.stl" scale="0.1 0.1 0.1"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://myrobot/models/meshes/bases/fork_monke.stl" scale="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

</robot>