<robot name="structure">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <static>true</static>

    <link name="main_base">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
          </inertial>
       
          <visual>
            <origin xyz="0 0 3" rpy="0 0 0" />
            <geometry>
              <box size="0.15 4 0.15" />
            </geometry>
            <material name="Cyan">
              <color rgba="0 1.0 1.0 1.0"/>
            </material>
          </visual>
       
          <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
              <box size="0.15 4 0.15" />
            </geometry>
          </collision>
    </link>

    <link name="side_one">
        <inertial>
            <origin xyz="0 -2 1.5" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
          </inertial>
       
          <visual>
            <origin xyz="0 -2 1.5" rpy="0 0 0" />
            <geometry>
              <box size="0.15 0.15 3" />
            </geometry>
            <material name="Red">
              <color rgba="1.0 0.0 0.0 1.0"/>
            </material>
          </visual>
       
          <collision>
            <geometry>
              <box size="0.15 0.15 3" />
            </geometry>
          </collision>
    </link>

    <link name="side_two">
        <inertial>
            <origin xyz="0 2 1.5" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
          </inertial>
       
          <visual>
            <origin xyz="0 2 1.5" rpy="0 0 0" />
            <geometry>
              <box size="0.15 0.15 3" />
            </geometry>
            <material name="Green">
              <color rgba="0 1.0 0.0 1.0"/>
            </material>
          </visual>
       
          <collision>
            <geometry>
              <box size="0.15 0.15 3" />
            </geometry>
          </collision>
    </link>

    <link name="laser1_link">
        <gazebo reference="sensor_laser">
        <sensor name="hls_lfcd_lds1" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0 -1.9 2.9 0 1.57 0</pose>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>180</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>0.000000</min_angle>
                        <max_angle>1.57</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.16</min>
                    <max>5</max>
                    <resolution>0.015000</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="turtlebot3_laserscan" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan1</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>base_scan1</frame_name>
            </plugin>
        </sensor>
        </gazebo>
    </link>

    <link name="laser2_link">
        <sensor name="hls_lfcd_lds2" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0 1.9 2.9 0 0 0</pose>
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>180</samples>
                        <resolution>1.000000</resolution>
                        <min_angle>0.000000</min_angle>
                        <max_angle>1.57</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.16</min>
                    <max>5</max>
                    <resolution>0.015000</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="turtlebot3_laserscan" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <remapping>~/out:=scan2</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>base_scan2</frame_name>
            </plugin>
        </sensor>
    </link>

    <joint name="boxconnect1" type="fixed">
        <origin xyz="0 0 0" />
        <parent link="main_base"/>
        <child link="laser1_link"/>
      </joint>

      <joint name="boxconnect2" type="fixed">
        <origin xyz="0 0 0" />
        <parent link="main_base"/>
        <child link="laser2_link"/>
      </joint>

      <joint name="sideconn1" type="fixed">
        <origin xyz="0 0 0" />
        <parent link="main_base"/>
        <child link="side_one"/>
      </joint>

      <joint name="sideconn2" type="fixed">
        <origin xyz="0 0 0" />
        <parent link="main_base"/>
        <child link="side_two"/>
      </joint>

</robot>
